/** COLORS **/
/** FONTS **/
@font-face {
  font-family: "Minecraftia";
  src: url(/fonts/minecraftia.eot);
  src: url(/fonts/minecraftia.eot?#iefix) format('embedded-opentype'), url(/fonts/minecraftia.woff) format('woff'), url(/fonts/minecraftia.ttf) format('truetype'), url(/fonts/minecraftia.svg#minecraftiaregular) format('svg');
  font-weight: normal;
  font-style: normal;
}

/** MIXINS **/
/** BASE **/
/* line 6, ../sass/screen.scss */
* {
  outline: 0;
}

/* line 10, ../sass/screen.scss */
html, body {
  font-size: 100%;
  line-height: 100%;
}

/* line 15, ../sass/screen.scss */
body {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 16px;
  line-height: 1rem;
  background-color: #000000;
  margin: 0px;
  padding: 0px;
}

/** STAGE **/
/* line 27, ../sass/screen.scss */
#stage {
  background-image: url(../img/test-stage.png);
  background-repeat: no-repeat;
  background-position: left top;
  height: 280px;
  position: relative;
  width: 384px;
}
/* line 35, ../sass/screen.scss */
#stage .obstacle {
  background-color: #FF0000;
  position: absolute;
  opacity: 0.5;
}

/** SPRITES **/
/* line 44, ../sass/screen.scss */
#sprites {
  position: relative;
  z-index: 1;
}

/* line 49, ../sass/screen.scss */
#player {
  background-image: url(../img/rene-down.gif);
  background-repeat: no-repeat;
  background-position: left top;
  height: 42px;
  position: absolute;
  width: 32px;
}
/* line 57, ../sass/screen.scss */
#player.down {
  background-image: url(../img/rene-down.gif);
}
/* line 60, ../sass/screen.scss */
#player.down.walking {
  background-image: url(../img/rene-down-walking.gif);
}
/* line 65, ../sass/screen.scss */
#player.left {
  background-image: url(../img/rene-left.gif);
}
/* line 68, ../sass/screen.scss */
#player.left.walking {
  background-image: url(../img/rene-left-walking.gif);
}
/* line 73, ../sass/screen.scss */
#player.right {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  background-image: url(../img/rene-left.gif);
}
/* line 82, ../sass/screen.scss */
#player.right.walking {
  background-image: url(../img/rene-left-walking.gif);
}
/* line 87, ../sass/screen.scss */
#player.up {
  background-image: url(../img/rene-up.gif);
}
/* line 90, ../sass/screen.scss */
#player.up.walking {
  background-image: url(../img/rene-up-walking.gif);
}

/* line 96, ../sass/screen.scss */
.npc {
  background-image: url(../img/dude.gif);
  background-repeat: no-repeat;
  background-position: left top;
  height: 42px;
  position: absolute;
  width: 32px;
}
/* line 104, ../sass/screen.scss */
.npc .emote {
  background-position: left top;
  background-repeat: no-repeat;
  height: 32px;
  position: relative;
  top: -32px;
  width: 30px;
}
/* line 112, ../sass/screen.scss */
.npc .emote.happiness {
  background-image: url(../img/emote-happiness.gif);
}
/* line 116, ../sass/screen.scss */
.npc .emote.love {
  background-image: url(../img/emote-love.gif);
}
/* line 120, ../sass/screen.scss */
.npc .emote.question {
  background-image: url(../img/emote-question.gif);
}
/* line 124, ../sass/screen.scss */
.npc .emote.sadness {
  background-image: url(../img/emote-sadness.gif);
}
/* line 128, ../sass/screen.scss */
.npc .emote.talkAngry {
  background-image: url(../img/emote-talk-angry.gif);
}
/* line 132, ../sass/screen.scss */
.npc .emote.talkHappy {
  background-image: url(../img/emote-talk-happy.gif);
}
/* line 136, ../sass/screen.scss */
.npc .emote.think {
  background-image: url(../img/emote-think.gif);
}

/** WINDOWS **/
/* line 144, ../sass/screen.scss */
#windows {
  position: relative;
  z-index: 2;
}

/* line 149, ../sass/screen.scss */
.window {
  font-size: 16px;
  font-size: 1rem;
  line-height: 20px;
  line-height: 1.25rem;
  -webkit-border-image: url(../img/window.png) 10 repeat;
  -o-border-image: url(../img/window.png) 10 repeat;
  border-image: url(../img/window.png) 10 repeat;
  border-image-outset: 2px;
  border-width: 10px;
  color: white;
  font-family: 'Minecraftia';
  minHeight: 30px;
  position: absolute;
  width: 30px;
}
/* line 166, ../sass/screen.scss */
.window .window-content {
  padding: 10px;
}
/* line 169, ../sass/screen.scss */
.window .window-content .choice {
  list-style: none outside none;
  margin: 0px;
  padding: 0px;
}
/* line 174, ../sass/screen.scss */
.window .window-content .choice li {
  padding: 5px;
}
/* line 177, ../sass/screen.scss */
.window .window-content .choice li:focus {
  background-color: white;
  color: #303030;
}
