/** COLORS **/
/** FONTS **/
@font-face {
  font-family: "Minecraftia";
  src: url(/fonts/minecraftia.eot);
  src: url(/fonts/minecraftia.eot?#iefix) format('embedded-opentype'), url(/fonts/minecraftia.woff) format('woff'), url(/fonts/minecraftia.ttf) format('truetype'), url(/fonts/minecraftia.svg#minecraftiaregular) format('svg');
  font-weight: normal;
  font-style: normal;
}

/** DEBUG **/
/** VARIABLES **/
/** MIXINS **/
/** BASE ******************************************************************************************/
/* line 6, ../../sass/screen.scss */
* {
  outline: 0;
}

/* line 10, ../../sass/screen.scss */
html, body {
  font-size: 100%;
  line-height: 100%;
}

/* line 15, ../../sass/screen.scss */
body {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 16px;
  line-height: 1rem;
  background-color: #000000;
  margin: 0px;
  overflow: hidden;
  padding: 0px;
  position: relative;
}

/* line 26, ../../sass/screen.scss */
a {
  color: #4880c0;
}
/* line 29, ../../sass/screen.scss */
a:hover {
  color: #3060a0;
}

/** DEBUG *****************************************************************************************/
/* line 37, ../../sass/screen.scss */
#debug #x-axis {
  background-color: red;
  height: 1px;
  left: 0px;
  opacity: 0;
  position: fixed;
  top: 50%;
  width: 100%;
  z-index: 9999;
}
/* line 48, ../../sass/screen.scss */
#debug #y-axis {
  background-color: red;
  height: 100%;
  left: 50%;
  opacity: 0;
  position: fixed;
  top: 0px;
  width: 1px;
  z-index: 9999;
}

/** LOADING ***************************************************************************************/
/* line 62, ../../sass/screen.scss */
#loading {
  font-size: 16px;
  font-size: 1rem;
  line-height: 20px;
  line-height: 1.25rem;
  bottom: 20px;
  color: white;
  font-family: 'Minecraftia';
  position: absolute;
  right: 20px;
  z-index: 10000;
}

/** MODALS ****************************************************************************************/
/* line 76, ../../sass/screen.scss */
#modals {
  position: relative;
  z-index: 10000;
}
/* line 80, ../../sass/screen.scss */
#modals .modal {
  color: #303030;
  font-family: 'Minecraftia';
  min-height: 0px;
  position: absolute;
  width: 0px;
}
/* line 87, ../../sass/screen.scss */
#modals .modal a {
  text-decoration: none;
}
/* line 91, ../../sass/screen.scss */
#modals .modal .choice {
  list-style: none outside none;
  margin: 0px;
  padding: 0px;
}
/* line 96, ../../sass/screen.scss */
#modals .modal .choice li {
  padding: 5px;
}
/* line 99, ../../sass/screen.scss */
#modals .modal .choice li:focus {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background-color: #706880;
  color: white;
}
/* line 108, ../../sass/screen.scss */
#modals .modal .icon {
  bottom: 0;
  position: absolute;
  right: 0;
}
/* line 114, ../../sass/screen.scss */
#modals .modal.dialogue {
  font-size: 16px;
  font-size: 1rem;
  line-height: 20px;
  line-height: 1.25rem;
  -webkit-border-image: url(../img/modal-border.gif) 16 repeat;
  -o-border-image: url(../img/modal-border.gif) 16 repeat;
  background-color: #f8f8f8;
  border-image: url(../img/modal-border.gif) 16 repeat;
  border-image-outset: 10px;
  border-width: 16px;
}
/* line 126, ../../sass/screen.scss */
#modals .modal.notification {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 16px;
  line-height: 1rem;
  -webkit-border-image: url(../img/notification-border.gif) 16 repeat;
  -o-border-image: url(../img/notification-border.gif) 16 repeat;
  border-image: url(../img/notification-border.gif) 16 repeat;
  background-color: #f8f8f8;
  border-image-outset: 6px;
  border-width: 16px;
}

/** ICONS *****************************************************************************************/
/* line 142, ../../sass/screen.scss */
.icon {
  background-position: center center;
  background-repeat: no-repeat;
}
/* line 146, ../../sass/screen.scss */
.icon.continue {
  background-image: url(../img/icon-continue.gif);
  height: 16px;
  width: 16px;
}

/** TRANSITION ************************************************************************************/
/* line 155, ../../sass/screen.scss */
#transition {
  background-color: black;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 9999;
}

/** STAGE *****************************************************************************************/
/* line 165, ../../sass/screen.scss */
#stage {
  overflow: hidden;
  position: absolute;
}
/* line 170, ../../sass/screen.scss */
#stage #collisions {
  position: relative;
  z-index: 2;
}
/* line 174, ../../sass/screen.scss */
#stage #collisions .collision {
  background-color: red;
  height: 32px;
  opacity: 0;
  position: absolute;
  width: 32px;
}
/* line 184, ../../sass/screen.scss */
#stage #objects {
  position: relative;
  z-index: 1;
}
/* line 188, ../../sass/screen.scss */
#stage #objects #player {
  background-color: rgba(255, 0, 0, 0);
  height: 32px;
  position: absolute;
  width: 32px;
}
/* line 194, ../../sass/screen.scss */
#stage #objects #player #player-sprite {
  background-image: url(../img/rene-down.gif);
  background-repeat: no-repeat;
  background-position: left top;
  height: 40px;
  position: absolute;
  top: -8px;
  width: 32px;
}
/* line 203, ../../sass/screen.scss */
#stage #objects #player #player-sprite.down {
  background-image: url(../img/rene-down.gif);
}
/* line 206, ../../sass/screen.scss */
#stage #objects #player #player-sprite.down.walking {
  background-image: url(../img/rene-down-walking.gif);
}
/* line 211, ../../sass/screen.scss */
#stage #objects #player #player-sprite.left {
  background-image: url(../img/rene-left.gif);
}
/* line 214, ../../sass/screen.scss */
#stage #objects #player #player-sprite.left.walking {
  background-image: url(../img/rene-left-walking.gif);
}
/* line 219, ../../sass/screen.scss */
#stage #objects #player #player-sprite.right {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  background-image: url(../img/rene-left.gif);
}
/* line 228, ../../sass/screen.scss */
#stage #objects #player #player-sprite.right.walking {
  background-image: url(../img/rene-left-walking.gif);
}
/* line 233, ../../sass/screen.scss */
#stage #objects #player #player-sprite.up {
  background-image: url(../img/rene-up.gif);
}
/* line 236, ../../sass/screen.scss */
#stage #objects #player #player-sprite.up.walking {
  background-image: url(../img/rene-up-walking.gif);
}
/* line 243, ../../sass/screen.scss */
#stage #objects .npc {
  background-color: rgba(255, 0, 0, 0);
  height: 32px;
  position: absolute;
  width: 32px;
}
/* line 249, ../../sass/screen.scss */
#stage #objects .npc .npc-sprite {
  background-repeat: no-repeat;
  background-position: left top;
  height: 40px;
  position: absolute;
  top: -8px;
  width: 32px;
}
/* line 258, ../../sass/screen.scss */
#stage #objects .npc .emote {
  background-position: left top;
  background-repeat: no-repeat;
  height: 32px;
  position: relative;
  top: -32px;
  width: 30px;
}
/* line 266, ../../sass/screen.scss */
#stage #objects .npc .emote.happiness {
  background-image: url(../img/emote-happiness.gif);
}
/* line 270, ../../sass/screen.scss */
#stage #objects .npc .emote.love {
  background-image: url(../img/emote-love.gif);
}
/* line 274, ../../sass/screen.scss */
#stage #objects .npc .emote.question {
  background-image: url(../img/emote-question.gif);
}
/* line 278, ../../sass/screen.scss */
#stage #objects .npc .emote.sadness {
  background-image: url(../img/emote-sadness.gif);
}
/* line 282, ../../sass/screen.scss */
#stage #objects .npc .emote.talkAngry {
  background-image: url(../img/emote-talk-angry.gif);
}
/* line 286, ../../sass/screen.scss */
#stage #objects .npc .emote.talkHappy {
  background-image: url(../img/emote-talk-happy.gif);
}
/* line 290, ../../sass/screen.scss */
#stage #objects .npc .emote.think {
  background-image: url(../img/emote-think.gif);
}
/* line 309, ../../sass/screen.scss */
#stage #objects .npc#n-000.down {
  background-image: url(../img/n000-down.gif);
}
/* line 312, ../../sass/screen.scss */
#stage #objects .npc#n-000.down.walking {
  background-image: url(../img/n000-down-walking.gif);
}
/* line 317, ../../sass/screen.scss */
#stage #objects .npc#n-000.left {
  background-image: url(../img/n000-left.gif);
}
/* line 320, ../../sass/screen.scss */
#stage #objects .npc#n-000.left.walking {
  background-image: url(../img/n000-left-walking.gif);
}
/* line 325, ../../sass/screen.scss */
#stage #objects .npc#n-000.right {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  background-image: url(../img/n000-left.gif);
}
/* line 334, ../../sass/screen.scss */
#stage #objects .npc#n-000.right.walking {
  background-image: url(../img/n000-left-walking.gif);
}
/* line 339, ../../sass/screen.scss */
#stage #objects .npc#n-000.up {
  background-image: url(../img/n000-up.gif);
}
/* line 342, ../../sass/screen.scss */
#stage #objects .npc#n-000.up.walking {
  background-image: url(../img/n000-up-walking.gif);
}
/* line 309, ../../sass/screen.scss */
#stage #objects .npc#n-001.down {
  background-image: url(../img/n001-down.gif);
}
/* line 312, ../../sass/screen.scss */
#stage #objects .npc#n-001.down.walking {
  background-image: url(../img/n001-down-walking.gif);
}
/* line 317, ../../sass/screen.scss */
#stage #objects .npc#n-001.left {
  background-image: url(../img/n001-left.gif);
}
/* line 320, ../../sass/screen.scss */
#stage #objects .npc#n-001.left.walking {
  background-image: url(../img/n001-left-walking.gif);
}
/* line 325, ../../sass/screen.scss */
#stage #objects .npc#n-001.right {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  background-image: url(../img/n001-left.gif);
}
/* line 334, ../../sass/screen.scss */
#stage #objects .npc#n-001.right.walking {
  background-image: url(../img/n001-left-walking.gif);
}
/* line 339, ../../sass/screen.scss */
#stage #objects .npc#n-001.up {
  background-image: url(../img/n001-up.gif);
}
/* line 342, ../../sass/screen.scss */
#stage #objects .npc#n-001.up.walking {
  background-image: url(../img/n001-up-walking.gif);
}
/* line 309, ../../sass/screen.scss */
#stage #objects .npc#n-002.down {
  background-image: url(../img/n002-down.gif);
}
/* line 312, ../../sass/screen.scss */
#stage #objects .npc#n-002.down.walking {
  background-image: url(../img/n002-down-walking.gif);
}
/* line 317, ../../sass/screen.scss */
#stage #objects .npc#n-002.left {
  background-image: url(../img/n002-left.gif);
}
/* line 320, ../../sass/screen.scss */
#stage #objects .npc#n-002.left.walking {
  background-image: url(../img/n002-left-walking.gif);
}
/* line 325, ../../sass/screen.scss */
#stage #objects .npc#n-002.right {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  background-image: url(../img/n002-left.gif);
}
/* line 334, ../../sass/screen.scss */
#stage #objects .npc#n-002.right.walking {
  background-image: url(../img/n002-left-walking.gif);
}
/* line 339, ../../sass/screen.scss */
#stage #objects .npc#n-002.up {
  background-image: url(../img/n002-up.gif);
}
/* line 342, ../../sass/screen.scss */
#stage #objects .npc#n-002.up.walking {
  background-image: url(../img/n002-up-walking.gif);
}
/* line 350, ../../sass/screen.scss */
#stage #objects .object {
  height: 32px;
  position: absolute;
  width: 32px;
}
/* line 356, ../../sass/screen.scss */
#stage #objects .object.doorway, #stage #objects .object.stairs {
  background-color: lime;
  opacity: 0;
}
/* line 364, ../../sass/screen.scss */
#stage #tiles {
  position: relative;
}
/* line 367, ../../sass/screen.scss */
#stage #tiles .tile {
  background-image: url(../img/tile-map.gif);
  background-repeat: no-repeat;
  background-position: left top;
  height: 32px;
  position: absolute;
  width: 32px;
}
