/** COLORS **/
/** FONTS **/
@font-face {
  font-family: "Minecraftia";
  src: url(/fonts/minecraftia.eot);
  src: url(/fonts/minecraftia.eot?#iefix) format('embedded-opentype'), url(/fonts/minecraftia.woff) format('woff'), url(/fonts/minecraftia.ttf) format('truetype'), url(/fonts/minecraftia.svg#minecraftiaregular) format('svg');
  font-weight: normal;
  font-style: normal;
}

/** MIXINS **/
/** BASE **/
/* line 6, ../../sass/screen.scss */
* {
  outline: 0;
}

/* line 10, ../../sass/screen.scss */
html, body {
  font-size: 100%;
  line-height: 100%;
}

/* line 15, ../../sass/screen.scss */
body {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 16px;
  line-height: 1rem;
  background-color: #000000;
  margin: 0px;
  padding: 0px;
}

/** COLLISION **/
/* line 27, ../../sass/screen.scss */
#collisions {
  left: 0px;
  position: absolute;
  top: 0px;
}
/* line 32, ../../sass/screen.scss */
#collisions .collision {
  background-color: #FF0000;
  opacity: 0.5;
  height: 32px;
  position: absolute;
  width: 32px;
  z-index: 2;
}

/** STAGE **/
/* line 44, ../../sass/screen.scss */
#stage {
  background-repeat: no-repeat;
  background-position: left top;
  left: 0px;
  position: absolute;
  top: 0px;
  z-index: 0;
}
/* line 53, ../../sass/screen.scss */
#stage #objects {
  z-index: 1;
  position: absolute;
}
/* line 58, ../../sass/screen.scss */
#stage #tiles {
  z-index: 0;
  position: absolute;
}

/** SPRITES **/
/* line 66, ../../sass/screen.scss */
#sprites {
  height: 288px;
  left: 0px;
  position: absolute;
  top: 0;
  width: 384px;
  z-index: 1;
}

/* line 75, ../../sass/screen.scss */
#player {
  background-image: url(../img/rene-down.gif);
  background-repeat: no-repeat;
  background-position: left top;
  height: 40px;
  position: absolute;
  width: 32px;
}
/* line 83, ../../sass/screen.scss */
#player #player-collision {
  background-color: #FF0000;
  opacity: 0.5;
  height: 32px;
  position: absolute;
  top: 8px;
  width: 32px;
}
/* line 92, ../../sass/screen.scss */
#player.down {
  background-image: url(../img/rene-down.gif);
}
/* line 95, ../../sass/screen.scss */
#player.down.walking {
  background-image: url(../img/rene-down-walking.gif);
}
/* line 100, ../../sass/screen.scss */
#player.left {
  background-image: url(../img/rene-left.gif);
}
/* line 103, ../../sass/screen.scss */
#player.left.walking {
  background-image: url(../img/rene-left-walking.gif);
}
/* line 108, ../../sass/screen.scss */
#player.right {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  background-image: url(../img/rene-left.gif);
}
/* line 117, ../../sass/screen.scss */
#player.right.walking {
  background-image: url(../img/rene-left-walking.gif);
}
/* line 122, ../../sass/screen.scss */
#player.up {
  background-image: url(../img/rene-up.gif);
}
/* line 125, ../../sass/screen.scss */
#player.up.walking {
  background-image: url(../img/rene-up-walking.gif);
}

/* line 131, ../../sass/screen.scss */
.npc {
  background-image: url(../img/dude.gif);
  background-repeat: no-repeat;
  background-position: left top;
  height: 40px;
  position: absolute;
  width: 32px;
}
/* line 139, ../../sass/screen.scss */
.npc .npc-collision {
  background-color: #FF0000;
  opacity: 0.5;
  height: 32px;
  position: absolute;
  top: 8px;
  width: 32px;
}
/* line 148, ../../sass/screen.scss */
.npc .emote {
  background-position: left top;
  background-repeat: no-repeat;
  height: 32px;
  position: relative;
  top: -32px;
  width: 30px;
}
/* line 156, ../../sass/screen.scss */
.npc .emote.happiness {
  background-image: url(../img/emote-happiness.gif);
}
/* line 160, ../../sass/screen.scss */
.npc .emote.love {
  background-image: url(../img/emote-love.gif);
}
/* line 164, ../../sass/screen.scss */
.npc .emote.question {
  background-image: url(../img/emote-question.gif);
}
/* line 168, ../../sass/screen.scss */
.npc .emote.sadness {
  background-image: url(../img/emote-sadness.gif);
}
/* line 172, ../../sass/screen.scss */
.npc .emote.talkAngry {
  background-image: url(../img/emote-talk-angry.gif);
}
/* line 176, ../../sass/screen.scss */
.npc .emote.talkHappy {
  background-image: url(../img/emote-talk-happy.gif);
}
/* line 180, ../../sass/screen.scss */
.npc .emote.think {
  background-image: url(../img/emote-think.gif);
}

/* line 186, ../../sass/screen.scss */
.object {
  background-image: url(../img/tiles.gif);
  background-repeat: no-repeat;
  background-position: left top;
  height: 32px;
  position: absolute;
  width: 32px;
}
/* line 196, ../../sass/screen.scss */
.object.o245 {
  background-position: -128px -320px;
}
/* line 200, ../../sass/screen.scss */
.object.o246 {
  background-position: -160px -320px;
}
/* line 204, ../../sass/screen.scss */
.object.o247 {
  background-position: -192px -320px;
}
/* line 208, ../../sass/screen.scss */
.object.o248 {
  background-position: -224px -320px;
}
/* line 212, ../../sass/screen.scss */
.object.o265 {
  background-position: -128px -352px;
}
/* line 216, ../../sass/screen.scss */
.object.o266 {
  background-position: -160px -352px;
}
/* line 220, ../../sass/screen.scss */
.object.o267 {
  background-position: -192px -352px;
}
/* line 224, ../../sass/screen.scss */
.object.o268 {
  background-position: -224px -352px;
}
/* line 228, ../../sass/screen.scss */
.object.o285 {
  background-position: -128px -384px;
}
/* line 232, ../../sass/screen.scss */
.object.o286 {
  background-position: -160px -384px;
}
/* line 236, ../../sass/screen.scss */
.object.o287 {
  background-position: -192px -384px;
}
/* line 240, ../../sass/screen.scss */
.object.o288 {
  background-position: -224px -384px;
}
/* line 244, ../../sass/screen.scss */
.object.o305 {
  background-position: -128px -416px;
}
/* line 248, ../../sass/screen.scss */
.object.o306 {
  background-position: -160px -416px;
}
/* line 252, ../../sass/screen.scss */
.object.o307 {
  background-position: -192px -416px;
}
/* line 256, ../../sass/screen.scss */
.object.o308 {
  background-position: -224px -416px;
}
/* line 260, ../../sass/screen.scss */
.object.o325 {
  background-position: -128px -448px;
}
/* line 264, ../../sass/screen.scss */
.object.o326 {
  background-position: -160px -448px;
}
/* line 268, ../../sass/screen.scss */
.object.o327 {
  background-position: -192px -448px;
}
/* line 272, ../../sass/screen.scss */
.object.o328 {
  background-position: -224px -448px;
}
/* line 276, ../../sass/screen.scss */
.object.o345 {
  background-position: -128px -480px;
}
/* line 280, ../../sass/screen.scss */
.object.o346 {
  background-position: -160px -480px;
}
/* line 284, ../../sass/screen.scss */
.object.o347 {
  background-position: -192px -480px;
}
/* line 288, ../../sass/screen.scss */
.object.o348 {
  background-position: -224px -480px;
}

/* line 293, ../../sass/screen.scss */
.tile {
  background-image: url(../img/tiles.gif);
  background-repeat: no-repeat;
  background-position: left top;
  height: 32px;
  position: absolute;
  width: 32px;
}
/* line 303, ../../sass/screen.scss */
.tile.t0 {
  background-position: 0px 0px;
}
/* line 309, ../../sass/screen.scss */
.tile.t1 {
  background-position: -32px 0px;
}
/* line 313, ../../sass/screen.scss */
.tile.t2 {
  background-position: -64px 0px;
}
/* line 317, ../../sass/screen.scss */
.tile.t3 {
  background-position: -96px 0px;
}
/* line 321, ../../sass/screen.scss */
.tile.t4 {
  background-position: -128px 0px;
}
/* line 327, ../../sass/screen.scss */
.tile.t5 {
  background-position: -160px 0px;
}
/* line 333, ../../sass/screen.scss */
.tile.t51 {
  background-position: 0px -32px;
}
/* line 337, ../../sass/screen.scss */
.tile.t52 {
  background-position: -32px -32px;
}
/* line 341, ../../sass/screen.scss */
.tile.t53 {
  background-position: -64px -32px;
}
/* line 345, ../../sass/screen.scss */
.tile.t101 {
  background-position: 0px -64px;
}
/* line 349, ../../sass/screen.scss */
.tile.t102 {
  background-position: -32px -64px;
}
/* line 353, ../../sass/screen.scss */
.tile.t103 {
  background-position: -64px -64px;
}
/* line 357, ../../sass/screen.scss */
.tile.t151 {
  background-position: 0px -96px;
}
/* line 361, ../../sass/screen.scss */
.tile.t152 {
  background-position: -32px -96px;
}
/* line 365, ../../sass/screen.scss */
.tile.t153 {
  background-position: -64px -96px;
}

/** MODALS **/
/* line 372, ../../sass/screen.scss */
#modals {
  position: relative;
  z-index: 1000;
}

/* line 377, ../../sass/screen.scss */
.modal {
  font-size: 16px;
  font-size: 1rem;
  line-height: 20px;
  line-height: 1.25rem;
  -webkit-border-image: url(../img/modal-border.gif) 16 repeat;
  -o-border-image: url(../img/modal-border.gif) 16 repeat;
  border-image: url(../img/modal-border.gif) 16 repeat;
  border-image-outset: 10px;
  background-color: #f8f8f8;
  border-width: 16px;
  color: #303030;
  font-family: 'Minecraftia';
  min-height: 0px;
  position: absolute;
  width: 0px;
}
/* line 395, ../../sass/screen.scss */
.modal .modal-content .choice {
  list-style: none outside none;
  margin: 0px;
  padding: 0px;
}
/* line 400, ../../sass/screen.scss */
.modal .modal-content .choice li {
  padding: 5px;
}
/* line 403, ../../sass/screen.scss */
.modal .modal-content .choice li:focus {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background-color: #706880;
  color: white;
}
