/** COLORS **/
/** FONTS **/
@font-face {
  font-family: "Minecraftia";
  src: url(/fonts/minecraftia.eot);
  src: url(/fonts/minecraftia.eot?#iefix) format('embedded-opentype'), url(/fonts/minecraftia.woff) format('woff'), url(/fonts/minecraftia.ttf) format('truetype'), url(/fonts/minecraftia.svg#minecraftiaregular) format('svg');
  font-weight: normal;
  font-style: normal;
}

/** DEBUG **/
/** MIXINS **/
/** BASE ******************************************************************************************/
/* line 6, ../../sass/screen.scss */
* {
  outline: 0;
}

/* line 10, ../../sass/screen.scss */
html, body {
  font-size: 100%;
  line-height: 100%;
}

/* line 15, ../../sass/screen.scss */
body {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 16px;
  line-height: 1rem;
  background-color: #000000;
  margin: 0px;
  overflow: hidden;
  padding: 0px;
  position: relative;
}

/** DEBUG *****************************************************************************************/
/* line 29, ../../sass/screen.scss */
#debug #x-axis {
  background-color: red;
  height: 1px;
  left: 0px;
  opacity: 0;
  position: fixed;
  top: 50%;
  width: 100%;
  z-index: 9999;
}
/* line 40, ../../sass/screen.scss */
#debug #y-axis {
  background-color: red;
  height: 100%;
  left: 50%;
  opacity: 0;
  position: fixed;
  top: 0px;
  width: 1px;
  z-index: 9999;
}

/** TRANSITION ************************************************************************************/
/* line 54, ../../sass/screen.scss */
#transition {
  background-color: black;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 9999;
}

/** STAGE *****************************************************************************************/
/* line 64, ../../sass/screen.scss */
#stage {
  overflow: hidden;
  position: absolute;
}
/* line 70, ../../sass/screen.scss */
#stage #collisions {
  position: relative;
  z-index: 2;
}
/* line 74, ../../sass/screen.scss */
#stage #collisions .collision {
  background-color: red;
  height: 32px;
  opacity: 0;
  position: absolute;
  width: 32px;
}
/* line 85, ../../sass/screen.scss */
#stage #objects {
  position: relative;
  z-index: 1;
}
/* line 89, ../../sass/screen.scss */
#stage #objects #player {
  background-color: rgba(255, 0, 0, 0);
  height: 32px;
  position: absolute;
  width: 32px;
}
/* line 95, ../../sass/screen.scss */
#stage #objects #player #player-sprite {
  background-image: url(../img/rene-down.gif);
  background-repeat: no-repeat;
  background-position: left top;
  height: 40px;
  position: absolute;
  top: -8px;
  width: 32px;
}
/* line 104, ../../sass/screen.scss */
#stage #objects #player #player-sprite.down {
  background-image: url(../img/rene-down.gif);
}
/* line 107, ../../sass/screen.scss */
#stage #objects #player #player-sprite.down.walking {
  background-image: url(../img/rene-down-walking.gif);
}
/* line 112, ../../sass/screen.scss */
#stage #objects #player #player-sprite.left {
  background-image: url(../img/rene-left.gif);
}
/* line 115, ../../sass/screen.scss */
#stage #objects #player #player-sprite.left.walking {
  background-image: url(../img/rene-left-walking.gif);
}
/* line 120, ../../sass/screen.scss */
#stage #objects #player #player-sprite.right {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  background-image: url(../img/rene-left.gif);
}
/* line 129, ../../sass/screen.scss */
#stage #objects #player #player-sprite.right.walking {
  background-image: url(../img/rene-left-walking.gif);
}
/* line 134, ../../sass/screen.scss */
#stage #objects #player #player-sprite.up {
  background-image: url(../img/rene-up.gif);
}
/* line 137, ../../sass/screen.scss */
#stage #objects #player #player-sprite.up.walking {
  background-image: url(../img/rene-up-walking.gif);
}
/* line 144, ../../sass/screen.scss */
#stage #objects .npc {
  background-color: rgba(255, 0, 0, 0);
  height: 32px;
  position: absolute;
  width: 32px;
}
/* line 150, ../../sass/screen.scss */
#stage #objects .npc .npc-sprite {
  background-image: url(../img/dude.gif);
  background-repeat: no-repeat;
  background-position: left top;
  height: 40px;
  position: absolute;
  top: -8px;
  width: 32px;
}
/* line 160, ../../sass/screen.scss */
#stage #objects .npc .emote {
  background-position: left top;
  background-repeat: no-repeat;
  height: 32px;
  position: relative;
  top: -32px;
  width: 30px;
}
/* line 168, ../../sass/screen.scss */
#stage #objects .npc .emote.happiness {
  background-image: url(../img/emote-happiness.gif);
}
/* line 172, ../../sass/screen.scss */
#stage #objects .npc .emote.love {
  background-image: url(../img/emote-love.gif);
}
/* line 176, ../../sass/screen.scss */
#stage #objects .npc .emote.question {
  background-image: url(../img/emote-question.gif);
}
/* line 180, ../../sass/screen.scss */
#stage #objects .npc .emote.sadness {
  background-image: url(../img/emote-sadness.gif);
}
/* line 184, ../../sass/screen.scss */
#stage #objects .npc .emote.talkAngry {
  background-image: url(../img/emote-talk-angry.gif);
}
/* line 188, ../../sass/screen.scss */
#stage #objects .npc .emote.talkHappy {
  background-image: url(../img/emote-talk-happy.gif);
}
/* line 192, ../../sass/screen.scss */
#stage #objects .npc .emote.think {
  background-image: url(../img/emote-think.gif);
}
/* line 198, ../../sass/screen.scss */
#stage #objects .object {
  height: 32px;
  position: absolute;
  width: 32px;
}
/* line 204, ../../sass/screen.scss */
#stage #objects .object.doorway, #stage #objects .object.stairs {
  background-color: lime;
  opacity: 0;
}
/* line 213, ../../sass/screen.scss */
#stage #tiles {
  position: relative;
}
/* line 216, ../../sass/screen.scss */
#stage #tiles .tile {
  background-image: url(../img/tile-map.gif);
  background-repeat: no-repeat;
  background-position: left top;
  height: 32px;
  position: absolute;
  width: 32px;
}

/** MODALS ****************************************************************************************/
/* line 229, ../../sass/screen.scss */
#modals {
  position: relative;
  z-index: 2;
}
/* line 233, ../../sass/screen.scss */
#modals .modal {
  font-size: 16px;
  font-size: 1rem;
  line-height: 20px;
  line-height: 1.25rem;
  -webkit-border-image: url(../img/modal-border.gif) 16 repeat;
  -o-border-image: url(../img/modal-border.gif) 16 repeat;
  background-color: #f8f8f8;
  border-image: url(../img/modal-border.gif) 16 repeat;
  border-image-outset: 10px;
  border-width: 16px;
  color: #303030;
  font-family: 'Minecraftia';
  min-height: 0px;
  position: absolute;
  width: 0px;
}
/* line 249, ../../sass/screen.scss */
#modals .modal .choice {
  list-style: none outside none;
  margin: 0px;
  padding: 0px;
}
/* line 254, ../../sass/screen.scss */
#modals .modal .choice li {
  padding: 5px;
}
/* line 257, ../../sass/screen.scss */
#modals .modal .choice li:focus {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background-color: #706880;
  color: white;
}
/* line 266, ../../sass/screen.scss */
#modals .modal .icon {
  bottom: 0;
  position: absolute;
  right: 0;
}

/** ICONS *****************************************************************************************/
/* line 280, ../../sass/screen.scss */
.icon {
  background-position: center center;
  background-repeat: no-repeat;
}
/* line 284, ../../sass/screen.scss */
.icon.continue {
  background-image: url(../img/icon-continue.gif);
  height: 16px;
  width: 16px;
}
